.main-header {
    align-items: center;
    background-color: #5b946e;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 10px 0 20px 0;
}