.header{
    display: flex;
    background-color: #5b946e;
    justify-content: center;
    /* align-items: center; */
    padding: 10px 0 10px 0;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}