.student-dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header-row {
    flex: 0 0 auto;
  }
  
  .bottom-row {
    display: flex;
    flex: 1 1 auto;
  }
  
  .sidebar {
    flex: 0 0 35%; /* Set the width to 30% */
    border: 1px solid blue;
  }
  
  .students {
    flex: 0 0 65%; /* Set the width to 70% */
    flex-direction: column;
    border: 1px solid red;
  }
  