.show-detail {
    display: flex;
    margin-top: 10px;
    padding: 10px 0 3px 0px;
    width: 95%;
    text-indent: 3px;
    font-size: small;
    font-display: 10px;
    line-height: 30px;
  }
  
  .show-detail ul {
    list-style-type: none;
    padding: 3px;
    margin: 0 auto;
  }
  
  .show-detail .title {
    font-weight: bold;
  }