.sidebar-list {
  width: 86%;
}

.sidebar-list h2 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
}

.sidebar-list li{
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 20px 0;  
  border-bottom: 1px solid #5c946e;
  padding-bottom: 10px;
  text-indent: 10px;
  cursor: pointer;
}

.sidebar-list li:hover{
  color: #5c946e;
}

