.student-card {
    border: 2px solid #3c7765;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .student-details h2 {
    font-weight: bold;
  }
  
  .show-more {
    color: #3c7765;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
  }
  