.student-card {
    align-items: start;
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* justify-content: start; */
}

.student.card img {
    margin-right: 30px;
}

.student-info-container {
    display: flex;
    flex-direction: column;
}

.show-more-botton {
    
    color: rgb(30, 90, 164);
    cursor: pointer;
}

.show-more-button:hover {
    color: rgb(150, 150, 227);
}