span {
    color: rgb(83, 145, 111);
}
.cohort-title {
    display: inline-block;
}

.cohort-title:hover {
    animation: rotate-center 0.4s linear forwards
}

@keyframes rotate-center {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}