h3 {
    display: flex;
    justify-content: center;
}

.links {
    border-bottom: 2px solid #1e9739b3
}

.links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    line-height: 3.5;
}

.cohort-links {
    border-top: 2px solid #1e9739b3
}