/* :root{
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
    
}
.wrap{
    display: grid;
    grid-column-gap: 25px; 
    grid-row-gap: 25px;
    column-gap: -0px;
    grid-template-columns: [left] 1fr [right] 2fr [end] ;
    grid-template-rows: [header] 120px [main] auto [end];
    row-gap:25px;
} */

/* * {
  outline: 1px solid #000
} */

/* w opt */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap'); */

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 1400px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul, li {
  margin-left: 0;
  padding-left: 0;
}

.primary-text-color {
  color: #5c946e;
}

.primary-bg-color {
  background-color: #5c946e;
}

.primary-border-color {
  border: 3px solid #5c946e;
}

.green-color {
  color:#4ef307;
}

.red-color {
  color: #f50707;
}

/* .cabin-fonts {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;  
} */