header {
    background-color: rgb(83, 145, 111);
    color: white;
    height: 3cm;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    width: 100%;
}


main {
    display: grid;
    grid-template-columns: 40% 60%;
}

header:hover {
    animation: blur-out 1s linear forwards
}

@keyframes blur-out {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(3px);
        opacity: 0.6
    }
}