.header {
  display: flex;
  background-color: rgb(91, 148, 111);
  justify-content: center;
  color: white;
  padding: 40px 0px 40px 0px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.green {
  color: rgb(91, 148, 111);
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  border: 2px solid rgb(91, 148, 111);
  padding-right: 400px;
}
.card-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30%;
}

.row {
  display: flex;
}

.table {
  width: 100%;

}



.table td,
.table th {
  padding: 8px;
  border-bottom: 1px solid rgb(91, 148, 111);
}

@media (max-width: 768px) {
  .table td,
  .table th {
    padding: 4px;
  }

  .table td:first-child,
  .table th:first-child {
    padding-left: 10px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .icon-hover {
  color: red;
  font-size: 14px;
} */
.container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 90px;
}

.items {
  flex: 1;
  height: 100px;
}

.items p {
  color: rgb(91, 148, 111);
}

.box {
  background-color: yellow;
}

.custom {
margin-left: 250px;
}

.card-text {
  cursor: pointer;
  color: rgb(91, 148, 111);
}

.cohort-list {
  cursor: pointer;
}