.main-header {
    display: flex;
    background-color: rgb(91, 148, 111);
    justify-content: center;
    color: white;
    padding: 30px 0px 30px 0px;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .green {
    color: rgb(91, 148, 111);
  }
  
  studentCard box 
  .card-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 10px;
    border: 3px solid rgb(91, 148, 111);
    padding-right: 360px;
    padding-top: 0px;
    width: 50%;
    height: 170px;
  }
  
  studentimg
  .card-container img {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100px;
    height: 100px;
    object-fit: cover; 
     /* can these 2 margins and padding be combined */
    margin-right: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
  } 
  StudentTable 
  .row {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .table {
    margin: 40px auto;
    width: 100%;
    overflow-x: auto;
    border-block-end-width: 100;
  } 

  